@font-face {
    font-family: norse-bold;
    src: url(fonts/Norsebold.otf);
}

:root {
    --create-account-button: #596D48;
}

body {
    font-family: "Google Sans";
    display: flex;
    min-height: 100vh;
}

.branding-panel {
    background: url("images/leaf-image.avif") center center / cover no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.odin-branding {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norse-bold;
    background-color: rgb(0 0 0 / 0.5);
    color: white;
    font-size: 2.4rem;
    padding: 12px;
}

.odin-branding img {
    height: 100px;
}

.photo-credit,
.photo-credit a {
    color: white;
}

.photo-credit {
    text-align: center;
    padding: 8px;
}

.form-container {
    flex: 2;
}