@font-face {
    font-family: norse-bold;
    src: url(fonts/Norsebold.otf);
}

:root {
    --create-account-button: #596D48;
    --main-background: #F4F5F6;
}

body {
    font-family: "Google Sans";
    display: flex;
    min-height: 100vh;
}

.branding-panel {
    background: url("images/leaf-image.avif") center center / cover no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.odin-branding {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norse-bold;
    background-color: rgb(0 0 0 / 0.5);
    color: white;
    font-size: 2.4rem;
    padding: 12px;
}

.odin-branding img {
    height: 100px;
}

.photo-credit,
.photo-credit a {
    color: white;
}

.photo-credit {
    text-align: center;
    padding: 8px;
}

.form-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
}

.info-section,
.form-card,
.submission-section {
    flex: 1;
}

.info-section {
    font-weight: 600;
    max-width: 66ch;
    padding: 120px 40px 32px;
}

.info-section p {
    padding-top: 16px;
}

.form-card {
    padding: 40px;
    background-color: white;
    box-shadow: 1.3px 2.6px 2.6px hsl(0deg 0% 0% / 0.46);
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 18px 72px;
}

.form-card h1 {
    font-weight: 400;
    font-size: 1.4rem;
    padding-bottom: 24px;
}

label {
    display: block;
    font-size: 0.8rem;
}